<!DOCTYPE html>
<html>
<head>
  <title>DiveCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%=stylesheet_link_tag "application" %>
  <link rel="shortcut icon" href="diver_diving_scuba.ico">
</head>
<body>
<ul class="nav nav-tabs">
  <li class="active"><a href="/">Air</a></li>
  <li><a href="/deco/index">Deco</a></li>
  <li><a href="#">Nitrox</a></li>
  <li><a href="#">About</a></li>
</ul>

<%= yield %>

</body>
</html>
