<!DOCTYPE html>
<html>
<head>
  <title>DiveCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--<script src="jquery-1.11.3.min.js"></script> --><!-- is it ere 1 -->
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%=stylesheet_link_tag "application" %>
  <link rel="shortcut icon" href="diver_diving_scuba.ico">
</head>
<body>
<div class="container">
<ul class="nav nav-tabs nav-justified">
  <li><a href="/" data-toggle="tooltip" data-placement="right"title="Consumption and Reserve">Air</a></li>
  <li><a href="/deco/index" data-toggle="tooltip" data-placement="right"title="Sorry not ready yet">Deco</a></li>
  <li><a href="/nitrox/index" data-toggle="tooltip" data-placement="right"title="MOD and ppO2"  >Nitrox</a></li>
  <li><a href="/about/index" data-toggle="tooltip" data-placement="right"title="Learn!"  >About</a></li>
</ul>
</div>
<%= yield %>
<%= yield :head%>

</body>
</html>
